* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  width: 100%;
  position: relative;
}

#background-img {
  position: absolute;
  top: -143.75rem;
  left: 0;
  width: 100%;
  height: 125rem;
  object-fit: cover;
  z-index: -1;
}

#menu-container {
  justify-content: center;
  display: grid;
  grid-template-columns: 21.875rem 21.875rem;
  gap: 3.125rem;
  padding: 0 0.625rem 0 0.625rem;
  margin-bottom: 1rem;
}

.menu {
  padding: 0.625rem;
  border-radius: 0.25rem;
  background-color: white;
  text-align: center;
  background-color: white;
}

#menu-1,
#menu-2 {
  object-fit: fill;
  width: 100%;
  margin-bottom: 0.625rem;
  border-radius: 0.25rem;
}

button {
  display: flex;
  outline: none;
  border: none;
  background-color: #b80404;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%;
  padding: 1rem 0 1rem 0;
  border-radius: 0.25rem;
  gap: 1.8rem;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #6b0404;
}
.icon {
  width: 1.25rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 1rem;
  color: white;
  font-weight: 300;
  padding-top: 4.5rem;
  margin-bottom: 1.5rem;
}

#facebook-container {
  margin: 0 auto;
  width: 18.75rem;
  padding: 0.25rem;
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.06rem;
  transition: all 0.3s ease-in-out;
}

#facebook-container:hover {
  cursor: pointer;
  background-color: #e9e9e9;
}

#icon-container {
  display: flex;
  align-items: center;
  gap: 0.625px;
}

#icon-container p {
  color: #007bff;
}

#web-icon {
  height: 2.375rem;
  width: 2.375rem;
  background-color: #f9f9f9;
  padding: 0.625rem;
}

#arrow {
  margin-right: 0.5rem;
  height: 0.9375rem;
  width: 0.9375rem;
}

#loader {
  overflow-y: hidden;
  height: 100vh;
}

#loading-img {
  display: block;
  margin: 0 auto;
  width: 30vw;
  object-fit: cover;
  opacity: 0;
  transform: translateY(15.625rem);
  animation: loaderIn 2s ease forwards;
}

@media (max-width: 1440px) {
  #background-img {
    top: -100rem;
  }
}

@media (max-width: 1100px) {
  #background-img {
    top: -70rem;
  }
}

@media (max-width: 912px) {
  #background-img {
    top: -50rem;
  }
}

@media (max-width: 768px) {
  #menu-container {
    grid-template-columns: 1fr;
    gap: 1.875rem;
    padding: 0 3rem 0 3rem;
  }

  #background-img {
    top: -13.4375rem;
  }

  #facebook-container {
    width: auto;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  button {
    gap: 1rem;
  }
  #loading-img {
    width: 50vw;
  }
}

@keyframes loaderIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
